<div class="container">
    
    <form #logForm="ngForm" name="loginForm" (ngSubmit)="onSubmit()">
        <div>
            <h1>Login</h1>
        </div>
        
        
        <div class="inputDiv">
            <label><h5>Email:</h5></label>
            <input type="email" required name="Email" pattern="[^@\s]+@[^@\s]+" #email = "ngModel" [(ngModel)]="user.email">
            @if(email.touched && !email.valid)
            {
            <p>Email is invalid</p>
            }
            @if(email.touched == false){}
        </div>
        
        <div class="inputDiv">
            <label><h5>Password:</h5></label>
            <input type="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name="Password" #password = "ngModel" [(ngModel)]="user.password">
            @if(password.touched && !password.valid )
            {
            <p>Password should have atleast 1 uppercase letter 1 lowercase letter 1 number and 8 or more symbols</p>
            }
            @if(password.touched == false){}
        </div>
        
        <div class="buttons"> 
            
            <button class="btn btn-primary" name="Submit" type="submit" id="Submit" [disabled]="!logForm.valid">Submit</button>
            <button class="btn btn-secondary" type="button" id="Close" routerLink="/">Close</button>
            
        </div>

        @if (errorString!=null) 
        {
            <p>{{ errorString }}</p>
        }
    </form>
</div>

