<header>
  <nav class="navbar">
    <a routerLink="/" class="nav-branding">AutoAlert</a>

    <ul class="nav-menu">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>


      @if (!authCheck()) 
      {
        <li class="nav-item">
          <a class="nav-link" routerLink="/Login">Login</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/Register">Register</a>
        </li>
      }
      @else{

        <li class="nav-item">
          <a class="nav-link" routerLink="/AddCar">Add Car</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/AllCars">All Cars</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/Chat">AI Helper</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      }           

    </ul>

    <div class="hamburger">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </nav>
</header>

<script src="/src/app/shared/js-scripts/hamburger.js"></script>

<router-outlet></router-outlet> 


