<header appScrollListener (scrolled)="closeMenu()">
  <nav class="navbar">
    <a routerLink="/" class="nav-branding">AutoAlert</a>

    <ul class="nav-menu" [class.active]="isMenuOpen">
      <li class="nav-item">
        <a class="nav-link" (click)="closeMenu()" routerLink="/">Home</a>
      </li>


      @if (!authCheck()) 
      {
        <li class="nav-item">
          <a class="nav-link" (click)="closeMenu()" routerLink="/Login">Login</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" (click)="closeMenu()" routerLink="/Register">Sign Up</a>
        </li>
      }
      @else{

        <li class="nav-item">
          <a class="nav-link" (click)="closeMenu()" routerLink="/AddCar">Add Car</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" (click)="closeMenu()" routerLink="/AllCars">All Cars</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" (click)="closeMenu()" routerLink="/Chat">AI Helper</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" (click)="closeMenu()" (click)="logout()" routerLink="/">Logout</a>
        </li>
      }           

    </ul>

    <div class="hamburger" (click)="toggleMenu()" [ngClass]="{'active': isMenuOpen}">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </nav>
</header>

<router-outlet></router-outlet> 