<div class="container">
  <header>
      <img class="logo" src="" alt="CER">
      <div class="buttonContainer">
          <div>
            @if (!authCheck()) 
            {
            <button (click)="onRegisterClick()">Register</button>
            <button  (click)="onLoginClick()">Login</button>
            }
            @if (authCheck()) 
            {
            <button (click)="onAddCarClick()">Add Car</button>
            <button (click)="logout()">Logout</button>
            }
          </div>
      </div>
     
      
    </header>
</div>





@if (hideRegisterComponent == false) 
{
  <div>
  <app-register></app-register>
</div>
}

@if (hideLoginComponent == false) 
{
  <div>
  <app-login></app-login>
</div>
}

@if (hideAddCarComponent == false) 
{
  <div>
  <app-add-car></app-add-car>
</div>
}
