<div class="container">
    {{regForm.value | json}}
    <form #regForm="ngForm"  class="register" (ngSubmit)="onSubmit()">
        <div>
            <h1>Register</h1>
        </div>
        <div class="inputDiv">
            <label><h5>First Name:</h5></label>
            <input type="text" required name="FirstName" #firstName = "ngModel" [(ngModel)]="user.firstName">
            @if(!firstName.valid && firstName.touched)
            {
            <p>First name is required</p>
            }
        </div>
        
        <div class="inputDiv">
            <label><h5>Last Name:</h5></label>
            <input type="text" required name="LastName" #lastName = "ngModel" [(ngModel)]="user.lastName">
            @if(!lastName.valid && lastName.touched )
            {
            <p>lastName name is required</p>
            }
        </div>
        
        <div class="inputDiv">
            <label><h5>Email:</h5></label>
            <input type="email" pattern="[^@\s]+@[^@\s]+" required name="Email" #email = "ngModel" [(ngModel)]="user.email">
            @if(email.touched && !email.valid)
            {
            <p>Email is invalid</p>
            }
        </div>
        
        <div class="inputDiv">
            <label><h5>Password:</h5></label>
            <input type="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name="Password" #password = "ngModel" [(ngModel)]="user.password">
            @if(password.touched && !password.valid )
            {
            <p>Password should have atleast 1 uppercase letter 1 lowercase letter 1 number and 8 or more symbols</p>
            }
        </div>
        
        <div class="inputDiv">
            <label><h5>Confirm Password:</h5></label>
            <input type="password"  required  name="ConfirmPassword" #confirmPassword = "ngModel" [(ngModel)]="user.confirmPassword  " >
            
            @if (password.touched && confirmPassword.touched && confirmPassword !== password) 
            {
                <p>Password does not match<p>
            }
           
        </div>
        
        <div class="buttons"> 
            
            <button class="btn btn-primary" name="Submit" type="submit" id="Submit" [disabled]="!regForm.valid">Submit</button>
            <button class="btn btn-secondary" type="button" id="Close" (click)="unrenderComponent()">Close</button>
            
        </div>
    </form>
</div>

