<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>

<div [@moveOffScreen]="isOffScreen ? 'off' : 'on'" class="vignette-popup" id="vignette-popup" cdkDrag>
  <header><div class="draggable" cdkDragHandle>Click here to move</div>
  <span class="close-button" (click)="delayedClosePopup()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
  </svg></span></header>
  
  <h2>Add Vignette for {{ carPlate }}</h2>
  <form (ngSubmit)="submitVignette()">
    <div class="inputDiv">
      <label><h5>Date bought:</h5></label>
      <input
        type="date"
        title="Please the date you bought your vignette"
        required
        name="DateBought"
        #dateBought="ngModel"
        [(ngModel)]="vignette.dateBought"
      >
    </div>
    <div class="inputDiv">
      <label><h5>Expiration date:</h5></label>
      <input
        type="date"
        title="Please the expiration date of your vignette"
        required
        name="expireDate"
        #expireDate="ngModel"
        [(ngModel)]="vignette.expireDate"
      >
    </div>
    <div class="btn-container">
      <button id="login-submit" type="submit" class="buttonCircle" (click)="delayedClosePopup()">
        <span class="text">Add</span>
        <i class="bi bi-check2 icon"></i>
      </button>
    </div>
    
  </form>