*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -70px;
    height: 100vh;
    background-image: url('./traffic-bg.jpg'); /* Replace 'your-background-image.jpg' with the path to your background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.items{
    display: flex;
    flex-direction: column;

}

.navigation{
    display: flex;
    justify-content: space-evenly;
    font-size: 3vw;
}

.text-container {
    font-size: 10vw;
    background-image: linear-gradient(to right, rgb(89, 89, 222), rgb(100, 19, 100),rgb(185, 58, 58) );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: background-position 0.5s ease;
    background-size: 200% 100%;
    background-position: 100% 0;
}

.text-container:hover {
    background-position: 0 0;
}

.logBtn{
    font-size: 3vw;
    background-image: linear-gradient(to right, rgb(203, 47, 47), rgb(190, 62, 190),rgb(46, 141, 236) );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: background-position 0.5s ease;
    background-size: 200% 100%;
    background-position: 100% 0;
}
.logBtn:hover{
    background-position: 0 0;;
}

.regBtn{
    font-size: 3vw;
    background-image: linear-gradient(to right, rgb(100, 239, 123), rgb(62, 149, 190),rgb(209, 6, 228) );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: background-position 0.5s ease;
    background-size: 200% 100%;
    background-position: 100% 0;
}
.regBtn:hover{
    background-position: 0 0;
}

@media (max-width: 763px) {
    body {
        background-color: #161616; /* Dark color for small screens */
        background-image: none;
        margin-top: 0;
    }
}