*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-top: 8%;
    margin-top: -70px;
    height: 100vh;
    background-image: url('./bggg.jpg'); /* Replace 'your-background-image.jpg' with the path to your background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow:hidden;
}


.items{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #C1E4B9;
    
}

.navigation{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    font-size: 1vw;
}



.text-container {
    font-size: 10vw;
    background-image: radial-gradient(circle, #1C7388, #28A2C0,rgb(182, 207, 209) );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: background-position 0.5s ease;
    background-size: 200% 100%;
    background-position: 100% 0;
}

.text-container:hover {
    background-position: 0 0;
}

.logBtn{
    font-size: 2vw;
    padding-right: 10px;
    background-image: linear-gradient(to right,#b89c4f, #28A2C0,#C1E4B9 );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: background-position 0.5s ease;
    background-size: 200% 100%;
    background-position: 100% 0;
}
.logBtn:hover{
    background-position: 0 0;;
}

.regBtn{
    font-size: 2vw;
    padding-left: 10px;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right,#28A2C0, #C1E4B9,#b89c4f );
    transition: background-position 0.5s ease;
    background-size: 200% 100%;
    background-position: 100% 0;
}
.regBtn:hover{
    background-position: 0 0;
}

.home-content{
    margin-left: 20px;
    display: flex;
    align-items: start;
    flex-direction: column;
}

.heading{
    margin-top: 9%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: radial-gradient(circle,#6b96a5 ,#5e848e ,rgb(35, 168, 168));
    transition: background-position 0.5s ease;
    background-size: 200% 100%;
    background-position: 100% 0;
    font-size: 10vh;
}

.heading:hover{
    background-position: 0 0;
}

.slogan{
    text-shadow: 10px 10px;
    z-index: 50;
    font-size: 3vw;
    background-image: linear-gradient(to right,#b89c4f, #28A2C0,#C1E4B9 );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: background-position 0.5s ease;
    background-size: 200% 100%;
    background-position: 100% 0;
}

.slogan:hover{
    background-position: 0 0;
}


@media (max-width: 763px) {
    body {
        background-color: #161616; /* Dark color for small screens */
        background-image: none;
        margin-top: 0;
    }
    .slogan{
        font-size: 3vh;
    }
    .logBtn{
        font-size: 3vh;
    }
    .regBtn{
        font-size: 3vh;
    }
    .text-container{
        font-size: 10vh;
    }
    .heading{
        margin-top: -20%;
        font-size: 4vh;
    }
    .navigation{
        font-size: 3vh;
    }
}