<div class="container">
    <div class="card" *ngFor="let car of allCars">
        <div class="info">
          <p><strong>Plate Number:</strong> <label>{{ car.plateNumber }}</label></p>
          <p><strong>Model:</strong><label>{{ car.model }}</label></p>
          <p><strong>Make:</strong> <label>{{ car.make }}</label></p>
    
        </div>
        <div class="car-actions">
          <button class="inspect-button" (click)="inspectCar(car['id'])">Inspect</button>
          <button class="delete-button" routerLink="/DeleteCar">Delete</button>
        </div>
      </div>
</div>

