body {
    overflow: auto;
    background: radial-gradient(circle, rgb(35, 38, 62) 0%, rgb(18, 20, 33));
}

@media (max-width: 763px) {
    body {
        background-color: #161616; /* Dark color for small screens */
    }
}