/* @import "D:/Users/Nikolai/GithubDesktop/AutoAlert/src/AutoAlert/AutoAlert.WebUI/node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";  */

body{
    background-color: rgb(26, 31, 59); margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}
html, body { height: 100%; }
